@media screen and (orientation: landscape) {
  body {
    background-image: url(Images/BG.jpg);
    width: 620px;
    height: 95%;
    margin: auto;
  }
}
@media screen and (orientation: portrait) {
  body {
    background-image: url(Images/BG.jpg);
    width: 360px;
    height: 640px;
    margin: auto;
  }
}

.coverBG {
  position: absolute;
  top: 10px;
  z-index: 0;
  animation: flipInY;
  -webkit-animation: flipInY;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
}

.card {
  position: absolute;
  top: 10px;
  z-index: 0;
  animation: flipToBack;
  -webkit-animation: flipToBack;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
}

.coverFlower {
  position: absolute;
  top: 10px;
  z-index: 1;
  opacity: 0;
  animation: fadeIn;
  -webkit-animation: fadeIn;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

.coverTitle {
  position: relative;
  top: 40px;
  left: 60px;
  z-index: 3;
  animation: fadeInUp;
  -webkit-animation: fadeInUp;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
}

.coverSubtitle {
  position: relative;
  top: 0px;
  left: 170px;
  z-index: 2;
  animation: fadeInUp;
  -webkit-animation: fadeInUp;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
}

.shine {
  position: absolute;
  top: 10px;
  z-index: 4;
  opacity: 0;
  animation: flash;
  -webkit-animation: flash;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}