body {
    width: 990px;
    margin: 0 auto;
  }
  .test {
    width: 990px;
    height: 720px;
    animation: flipInY; /* 引用動畫的 @keyframe 名稱 */
    animation-duration: 2s; /* 別忘了設定持續時間 */
  }